
/*-----------------------------------*\
  #variables.css
\*-----------------------------------*/

/**
 * copyright 2021 @codewithsadee
 */

/**
 * all global variables
 */

:root {

  /**
   * colors
   */

  --vary-dark-gray: hsl(0, 0%, 41%);
  --dark-gray:      hsl(0, 0%, 55%);
  --white:          hsl(0, 0%, 100%);
  --black:          hsl(0, 0%, 0%);

  /**
   * typography
   */

  --ff-josefin-sans: "Josefin Sans", sans-serif;
  --ff-alata:         "Alata", sans-serif;
  --fs-h1:            4.7em;
  --fs-h2:            3.2em;
  --fs-h3:            2.1em;
  --fs-regular:       15px;
  --fw-300:           300;

  /**
   * spacing  
   */

  --px: 165px; /* padding-left & padding-right */
  --mb: 180px; /* margin-bottom */
}